*,
*::before,
*::after {
  box-sizing: border-box;
}

* {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;

  /* border: 1px solid green; */
}

html {
  line-height: 1.15;
  -webkit-text-size-adjust: 100%;
}

body {
  height: 100vh;
  overflow: hidden;
  background: linear-gradient(
    to bottom left,
    #845ec2,
    #d65db1,
    #ff6f91,
    #ff9671,
    #ffc75f,
    #f9f871
  );

  justify-content: space-between;
  align-items: center;
  font-family: "Roboto", sans-serif;
}

.main-heading {
  font-size: 4rem;
}

.calculator {
  border: 1px solid green;
  border-radius: 1rem;
  aspect-ratio: 3/5;
  min-width: 28rem;
}

/* utility classes */
.flex-column {
  display: flex;
  flex-direction: column;
}

.flex-row {
  display: flex;
  flex-direction: row;
}
