*,
*::before,
*::after {
  box-sizing: border-box;
}

* {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;

  /* border: 1px solid green; */
}

html {
  line-height: 1.15;
  -webkit-text-size-adjust: 100%;
}

body {
  height: 100vh;
  overflow: hidden;
  background: linear-gradient(
    to bottom left,
    #845ec2,
    #d65db1,
    #ff6f91,
    #ff9671,
    #ffc75f,
    #f9f871
  );

  justify-content: space-between;
  align-items: center;
  font-family: "Roboto", sans-serif;
}

.main-heading {
  font-size: 4rem;
}

.calculator {
  /* border: 1px solid green; */
  aspect-ratio: 3/5;
  width: 28rem;
  padding: 1.5rem;
  gap: 1rem;
  justify-content: space-between;
  background-color: #2f3e46;
}

.display {
  height: 20%;
  background-color: #84a98c;
  padding: 1rem;
  align-items: flex-end;
  justify-content: space-between;
  color: #2f3e46;
}

.calculation-string {
  font-size: 1.5rem;
}

.calculation-result-string {
  font-size: 3rem;
  font-weight: bold;
  width: 100%;
  text-align: right;
  overflow: hidden;
  white-space: nowrap;
}

.buttons {
  aspect-ratio: 4/5;
  flex-wrap: wrap;
  align-items: flex-start;
  gap: 1rem;
  font-size: xx-large;
  font-weight: bolder;
}

.button {
  flex-basis: 20%;
  flex-grow: 1;
  aspect-ratio: 1;
  justify-content: center;
  align-items: center;
  background-color: #354f52;
  color: #cad2c5;
}

.operator {
  background-color: #52796f;
}

/* utility classes */
.flex-column {
  display: flex;
  flex-direction: column;
}

.flex-row {
  display: flex;
  flex-direction: row;
}

.rounded-corners {
  border-radius: 1rem;
}

/* color palette for calculator:
#CAD2C5, #84A98C, #52796F, #354F52, #2F3E46
*/
